version: '3.4'

services:
  nginx:
    image: nginx:1.15.10-alpine
    ports:
      - 9000:80
      - 9010:443
    depends_on:
      - app
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    command: /bin/sh -c "exec nginx -g 'daemon off;'"

  app:
    #image: php:7.4-fpm
    build:
      context: ./
      dockerfile: docker/api/Dockerfile
    working_dir: /srv/cursopoisk
    depends_on:
      - mysql
    volumes:
      - ./api/:/srv/cursopoisk

  mysql:
    image: percona:8.0.15-5-centos
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: 12354dfR
      MYSQL_DATABASE: cursopoisk
      LANG: ru_RU.UTF-8
    volumes:
      - db-data:/var/lib/mysql:rw

volumes:
  db-data: {}
